*{
	font-family: 'Montserrat', sans-serif;
}
body,html{
	margin:0;
	max-width:100vw;
}
button, a, textarea, input, select{
    outline: none !important;
    box-shadow: none !important;
}
a, a:focus{
    text-decoration:none;
}
ul{
	list-style:none;
}

/* dashboard basic */
.dash-title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#2196F3;
}

.dash-input {
    border: 1px solid #2196F3;
    border-radius: 5px 0 0 5px;
    padding: 8px 10px;
		width:100%;
		background: #fff;
}
.dash-btn {
    background: #2196F3;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 9px 10px;
		width:100%;
		display: block;
}
.dash-btn.inverted-btn{
		color: #2196f3;
    background: #fafafa;
}

.dash-link, .dash-link:focus{
	text-decoration: none;
	color:#2196F3;
	font-weight:600;
	font-size: 14px;
}

.filter-btn {
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
		background: transparent;
		color: #aaa;
		font-weight: 600;
}
.filter-btn.active{
	color:#fff;
	background: #2196F3;
}

.dash-table{
	width: 100%;
	height: calc(100vh - 120px - 60px);
	overflow: hidden;
}

.dash-table .dash-table-heading{
	color: #2196f3;
	font-weight: 600;
}
.dash-table-body {
    height: calc(100% - 40px);
    overflow: auto;
}

.dash-table .dash-table-body .dash-table-row{
	background: #fafafa;
	border-radius: 5px;
	padding: 8px 0;
  overflow: hidden;
}

.dash-table.auto-height-table, .dash-table.auto-height-table .dash-table-body{
	height: auto;
}

.dash-table .dash-table-heading .dash-table-column {

}

.dash-table .dash-table-body .dash-table-row .dash-table-column {

}
.dash-table.profile-table{
		height:100%;
}
.dash-table.profile-table .dash-table-body .dash-table-row .dash-table-column {
    font-size: 13px;
}
.dash-table.profile-table img{
	height: 65px;
	margin-right: 5px;
}
.dash-table.profile-table .delete-photo-btn {
    background: transparent;
    width: 35px;
    height: 35px;
    color: #fb6363;
    border-radius: 5px;
    border: 1px solid #fb6363;
		display: inline-block;
    padding: 7px 12px;
}

.dash-table.profile-table .dash-input{
	border-radius: 5px;
	padding: 5px 10px;
}
.dash-bottom .dash-btn{
	width: auto;
	display: inline-block;
	border-radius: 5px;
}

.dash-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background: #f8f9fa;
    box-shadow: 0px 0px 5px #bbb;
    padding: 8px 3px;
}
.dash-pagination a.pagination-link, .dash-pagination a.pagination-link:focus, .dash-pagination .pagination-link.inactive-link{
    display: inline-block;
    padding: 6px 0;
    font-size: 20px;
    border: 1px solid;
    border-radius: 8px;
    width: calc(100% / 5 - 5px);
		color:#2196F3;
}
.dash-pagination .pagination-link.inactive-link{
	color:#ccc;
}
.dash-pagination span.current-page-label {
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: #ccc;
    border-radius: 8px;
    display: inline-block;
    width: calc(100% / 5 - 5px);
		color:#2196F3;
}

.dash-btn.inverted-btn.edit-coin-btn, .dash-btn.inverted-btn.delete-coin-btn, .dash-btn.inverted-btn.edit-tag-btn, .dash-btn.inverted-btn.delete-tag-btn, .dash-btn.inverted-btn.edit-page-btn, .dash-btn.inverted-btn.delete-page-btn {
		width: auto;
    display: inline-block;
}
.dash-btn.inverted-btn.delete-coin-btn, .dash-btn.inverted-btn.delete-tag-btn, .dash-btn.inverted-btn.delete-page-btn{
	color:#f66;
}
.coin-form .dash-btn, .coin-form .dash-input, .users-list .dash-input{
	border-radius: 5px;
}

.users-list .dash-input{
	font-size:14px;
}

.statistics-block .statistics-item i{
	font-size: 40px;
	color: #2196f3;
}
.statistics-block .statistics-item .dash-btn i{
	font-size: 18px;
}

.statistics-filter .dash-input, .statistics-filter .dash-btn{
	border-radius: 5px;
}

.statistics-page{
		overflow-x: hidden;
    height: 100%;
    padding: 15px;
    margin: -15px;
}
/* end dashboard basic */

.main-btn {
	border: none;
	width: 50px;
	height: 50px;
	top:5px;
	font-size: 20px;
	background: transparent;
	display:inline-block;
}
.blue-btn, a.blue-btn:focus{
	background: #2196f3;
	color: #fff;
	font-size: 16px;
	width: 100%;
	padding: 15px;
	border-radius:10px;
}
.green-btn {
    background: #3abf3f;
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}
.blue-btn.short-btn, .green-btn.short-btn {
    width: calc(100% - 60px);
}
.blue-btn.small-btn {
    width: 50px;
}
.main-btn.bordered{
	border-radius:100%;
	border:2px solid;
}
.main-btn.left-btn{
	left:5px;
	position:absolute;
}
.main-btn.center-btn{
	left:50%;
	transform:translate(-25px, 0);
	position:absolute;
}
.main-btn.right-btn{
	right:5px;
	position:absolute;
}

.right-center-btn {
    right: 25%;
    position: absolute;
    transform: translate(15px, 0);
}

.left-center-btn {
    left: 25%;
    position: absolute;
    transform: translate(-15px, 0);
}

/* header */
.header {
	box-shadow: 0px 0px 5px #bbb;
	width: 100%;
	height: 60px;
	z-index: 999;
	position: fixed;
    background: #fff;
}

.main-btn.menu-btn{
	color: #777;
}
.main-btn.menu-btn.active{
	color: #2196f3;
}
.site-title,  .site-title:focus{
    display: block;
    position: absolute;
    left: 15px;
    font-size: 14px;
    top: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.site-title .coloured-text {
    color: #F44336;
}
.navbar{
	padding:10px 15px;
	min-height: 60px;
}

.navbar .navbar-collapse{
	text-align: center;
    font-weight: 600;
    height: 100vh;
	letter-spacing:1px;
}

.navbar .navbar-nav{
    margin-top: 35px;
}
.navbar .navbar-nav .nav-link {
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px 10px;
	text-align:center;
}
.navbar-light .navbar-nav .show>.nav-link{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.dropdown-menu.show {
    display: block;
    margin-top: -10px !important;
    margin-bottom: 10px;
	background:#fafafa;
	border-top-left-radius:0;
	border-top-right-radius:0;
	text-align:center;
}
/* end header */
.main-title{
	color: #2196F3;
}

.main-links-block{
	width:100%;
}
.main-links-block#accordion .card{
	margin-bottom:10px;
}
.main-links-block#accordion .card .btn-link, .main-links-block#accordion .card .btn-link:focus{
	color:#666;
	font-weight:bold;
	display:block;
	text-align:center;
	text-decoration:none;
    width: 100%;
}

.main-links-block#accordion .card .link-btn{
	width:100%;
	padding:10px;
	color:#fff;
}

.page{
	overflow: auto;
	padding-top: 60px;
	height: 100vh;
	padding-bottom: 60px;
}

.page .content{
		height: 100%;
    overflow: hidden;
}

/* messages stripe */
.messages-stripe{
	height: 100%;
  overflow: auto;
}

.messages-stripe .message{
	/*background: #fcfcfc;
	border-radius: 5px;*/
	//border-bottom: 1px solid #e6e6e6;
	word-break: break-word;
	transition: all .3s ease-in-out;
	position: relative;
	z-index: 1;
	background: #fff;
}
.messages-stripe .delete-message-btn {
    position: relative;
    float: right;
    margin-top: -75px;
    z-index: 0;
    color: #f77;
}
.delete-result-label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #f77;
}
.messages-stripe .message.left-position{
	margin-left: -50px !important;
	width: 100%;
}

.messages-stripe a.message{
	color: #000;
	text-decoration: none;
}
.messages-stripe .message .user-info{
	font-size: 12px;
}
.messages-stripe .message .user-info .avatar{
	width:75px;
	height: 75px;
	display:inline-block;
}
.messages-stripe .message .user-info .avatar img{
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 10px;
}
.messages-stripe .message .user-info .summary{
	width:calc(100% - 75px);
	display:inline-block;
}
.messages-stripe .message .user-info .summary .name{
	font-weight:600;
}
.messages-stripe .message .user-info .summary .vip-label {
    color: #ffc107;
    border: 1.5px solid #ffc107;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 11px;
}

.messages-stripe .message .user-info .summary .age{
	font-weight:normal;
}
.messages-stripe .message .user-info .summary .location i{
	color: #FF9800;
}
.messages-stripe .message .text{
	font-size: 13px;
	line-height: 13px;
	margin-top: 5px;
}
.messages-stripe .message .status-block{
    width: 100%;
    border-radius: 10px;
    padding: 2px;
    border: 1.5px solid transparent;
}
.messages-stripe .message .status-block.vip-active{
	border-color:#ffc824;
}
/* end messages stripe */












/* sidebar */
.sidebar{
	position: fixed;
	z-index: 101;
	height: calc(100% - 60px);
	width: 100%;
	top: 60px;
	transition:all .5s ease;
	overflow:hidden;
}
.sidebar.left-sidebar{
	transform:translate(-100%, 0);
	left: 0;
}
.sidebar.right-sidebar{
	transform:translate(100%, 0);
	right: 0;
}
.sidebar .sidebar-content{
	width: 75%;
	height: 100%;
	background: #f8f8f8;
	box-shadow: 0px 0px 15px #555;
	padding:15px;
	margin-left:25%;
}
.sidebar.full-width .sidebar-content{
	width:100%;
	margin-left:0;
}
.sidebar.open{
	transform:translate(0, 0);
}

.cities-block{
	padding: 10px;
}
.cities-block select{
	width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2196f3;
    font-size: 16px;
	background: #fff;
}
.cities-block .title{
	text-transform:uppercase;
}
/* end sidebar */

/* menu */
.menu{
	padding:0;
}
.menu .menu-item{
	margin:5px 0;
}
.menu .menu-item .menu-link{
	display: block;
	padding: 10px;
	color: #666;
	text-decoration: none;
}

.payment-info {
    position: absolute;
    width: calc(75% - 2rem);
    text-align: center;
}
.payment-info img{
	height: 30px;
}
/* end menu */

/* chat */
.chat-list{

}
.chat-list .chat-item{
	background: #fcfcfc;
	border-bottom: 1px solid #e0e0e0;
}
.chat-list .chat-item .user-info{

}

.chat-list .chat-item .user-info .avatar-empty-icon{
	width: 65px;
	height: 65px;
	background: #cadbeb;
	border-radius: 100%;
	padding: 18px 21px 20px;
	color: #66a2d4;
	font-size: 25px;
}
.chat-list .chat-item .user-info .avatar{
	width:65px;
	height:65px;
	border-radius:100%;
}
.chat-list .chat-item .user-info .chat-info{
	display:inline-block;
	width:calc(100% - 65px);
}
.chat-list .chat-item .user-info .chat-info .name{
	font-weight:600;
	padding-top:10px;
	display:inline-block;
	font-size:15px;
}

.chat-list .chat-item .user-info .chat-info .city{
	font-size:13px;
}
.chat-list .chat-item .user-info .chat-info .city i{
	color:#FF9800;
}

.chat-list .empty-chats-list .empty-icon{
	font-size: 60px;
	color: #ccc;
}
.chat-list .chat-item .user-info .chat-info .new-messages-label {
    float: right;
    display: inline-block;
    background: #ff9800;
    background: #2196f3;
    color: #fff;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: 600;
    margin-top: 15px;
}

.chat-list .chat-item .user-info .chat-delete-btn {
    float: right;
    margin: 10px 10px 0 10px;
    color: #9E9E9E;
}

.chat-block{
	position: absolute;
	background: inherit;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.chat-block .chat-heading-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
}
.chat-block .chat-heading-block a, .chat-block .chat-heading-block a:focus{
	color:#000;
	text-decoration:none;
}
.chat-block .chat-heading-block .avatar{
	width: 45px;
	height: 45px;
	margin: 0 5px;
	border-radius: 100%;
}
.chat-block .chat-heading-block .empty-avatar-icon{
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background: #cadbeb;
	color: #66a2d4;
	padding: 10px;
	font-size: 20px;
	margin: 0 5px;
}
.chat-block .chat-heading-block .name{
	font-weight: 600;
	font-size: 18px;
}
.chat-block .chat-heading-block .close-chat-btn{
	float:right;
	height: 44px;
}

.chat-block .chat-messages{
	margin-top:60px;
	height:calc(100% - 220px);
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-block .chat-messages .date-label {
    clear: both;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 8px;
    margin: 0 auto 10px;
    width: 40%;
    border-radius: 20px;
    color: #2196f3;
    background: inherit;
    border: 2px solid #2196f3;
}
.chat-block .chat-messages .date-label:before, .chat-block .chat-messages .date-label:after {
    content: "";
    display: block;
    height: 2px;
    width: calc(30vw + 6px);
    background: #2196f3;
    position: relative;
}
.chat-block .chat-messages .date-label:before{
    left: calc(-30vw - 1rem);
    float: left;
    margin: 8px 0 -8px;
}
.chat-block .chat-messages .date-label:after {
    right: calc(-30vw - 1rem);
    float: right;
    margin: -14px 0;
}

.chat-block .chat-messages .message{
	max-width: 60%;
	width: auto;
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 14px;
	line-height: 16px;
	clear: both;
	float:left;
}

.chat-block .chat-messages .message.user-message{
	background: #2196f33d;
}


.chat-block .chat-messages .message.my-message{
	background: #ddd;
	float:right;
}
.user-message.time-label, .my-message.time-label{
    clear: both;
    font-size: 11px;
    margin-bottom: 10px;
}
.user-message.time-label{
    margin-left:10px;
}
.my-message.time-label{
    float: right;
    margin-right:10px;
}

.chat-block .send-message-block {
    position: absolute;
    bottom: 60px;
    left: 0;
    background: #f8f8f8;
    width: 100%;
    padding: 10px;
    height: 100px;
    border-top: 1px solid #ccc;
}
.chat-block .send-message-block .message-text{
	width: calc(100% - 50px);
	height: 100%;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #2196f3;
	font-size: 14px;
}
.chat-block .send-message-block .chat-message-send-btn{
	float: right;
	color: #2196f3;
	height: 100%;
}
.chat-btn .new-messages-count {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    background: #2196f3;
    color: #fff;
    padding: 1px 8px 3px;
    border-radius: 100%;
}
/* end chat */

/* dialogs */
.dialog-block {
	position: fixed;
	z-index: 101;
	width: 100%;
	height: 100%;
	top: 60px;
	background: #ffffffbb;
}
.dialog-block.closed{
	z-index:-1;
	opacity:0;
}
.dialog-block .dialog-form {
	margin: 20px;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 10px #aaa;
	border-radius: 15px;
	padding: 15px;
}
.dialog-block .dialog-form .title {
	font-weight: 600;
	font-size: 15px;
}

.dialog-block .dialog-form .close-dialog-btn {
	display: inline-block;
	background: #eee;
	border-radius: 100%;
	padding: 5px 10px;
	float: right;
	margin-top: -5px;
	color: #888;
}

/* add message to stripe */
.input-message-block .title, .input-message-block .close-text-btn{
	display:none;
}
.input-message-block.full-size{
    position: fixed;
    background: #fff;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.input-message-block.full-size .title, .input-message-block.full-size .close-text-btn{
	display:block;
}
.dialog-block .dialog-form .message-text{
	width: 100%;
	height: 120px;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #2196f3;
	font-size: 16px;
}
.check-length-block.text-left.mb-0 {
    position: relative;
    margin: -10px 8px 0 0;
    float: right;
    font-size: 13px;
    transform: translate(0, -100%);
}

.dialog-block .photos-slider{

}
.dialog-block .photos-slider.photos-list .photo{
	outline:none;
}
.dialog-block .photos-slider.photos-list .photo.active{
    background: #2196f385;
    border-radius: 5px;
}
.dialog-block .photos-slider.photos-list .photo img{
    display: block;
    width: calc(100vw / 3 - 2rem);
    height: calc(100vw / 3 - 2rem);
    border-radius: 5px;
}
.dialog-block .photos-slider .slick-arrow{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
.dialog-block .photos-slider .slick-arrow#prev{
	left:-25px;
}
.dialog-block .photos-slider .slick-arrow#next{
	right:-25px;
}
.dialog-block .dialog-form .attention-text{
    display: inline-block;
    font-size: 12px;
	margin-top:-10px;
	margin-bottom:10px;
}
/* end add message */

.dialog-block .packs-list .pack {
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #ccc;
	border: 2px solid #FFC107;
}

.dialog-block .packs-list .pack .pack-amount {
    margin: 0 !important;
    padding: 10px 0 0;
    color: #FFC107;
    font-size: 18px;
    font-weight: 600;
}

.dialog-block .packs-list .pack .dialog-btn{
	border-radius:0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
	height:45px;
	padding:5px;
	color:#2196f3;
	background:transparent;
	border-left:2px solid #FFC107;
}
.refer-link-block input[type=text]{
    width: calc(100% - 40px);
    padding: 10px 10px;
    border: 1px solid #2196f3;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
}
.refer-link-block .copy-refer-link-btn{
	width:40px;
	height:40px;
	float:right;
	border-radius:0 5px 5px 0;
	padding: 0;
}
.dialog-block .info-text{
    display: inline-block;
    font-size: 13px;
	margin-bottom:10px;
}
.dialog-block .info-text span{
	color:#2196f3;
	font-size:14px;
	font-weight:bold;
}
/* end dialogs */

/* profile */
.profile-container .title{
	font-weight: 600;
}
.profile-container .profile-basic-info {
	background: #f8f8f8;
	padding: 15px;
	border-radius: 5px;
}
.profile-container .profile-basic-info .name{
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.profile-container .profile-basic-info .location i{
	color:#ff9800;
}
.profile-container .profile-basic-info img.avatar{
    width: calc(100vw - 62px);
    height: calc(100vw - 62px);
    border-radius: 10px;
}
.profile-container .profile-basic-info i.avatar{
		font-size: 180px;
    width: 50vw;
    height: 50vw;
    color: #2196f354;
    border-radius: 100%;
    background: #fff;
    margin-top: 50%;
    transform: translateY(-50%);
}
.profile-container .profile-basic-info .info-item{
	margin-bottom:5px;
}
.profile-container .profile-basic-info .info-item .info-label{
	color:#888;
	text-align:right;
	width:39%;
	display:inline-block;
}
.profile-container .profile-basic-info .info-item .info-text{
	text-align:left;
	width:59%;
	display:inline-block;
	padding-left:5px;
	padding-bottom:5px;
}

.profile-container .photos-block .photos-list .photo{
    width: calc(50vw - 1rem);
    display: inline-block;
    height: calc(50vw - 1rem);
    padding: 5px;
	float:left;
}
.profile-container .photos-block .photos-list.photos-slider{
	height:calc(100vw - 2rem);
}
.profile-container .photos-block .photos-list.photos-slider .photo{
    width: calc(100vw - 2rem);
    height: calc(100vw - 2rem);
	outline:none;
}
.profile-container .photos-block .photos-list.photos-slider .slick-arrow,
.profile-container .photos-block .photos-list.photos-slider .slick-arrow:focus{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background: #fff;
    color: #2196f3;
    height: 60px;
    z-index: 1;
}
.profile-container .photos-block .photos-list.photos-slider .slick-arrow#prev{
	left: -35px;
    border-radius: 0 50px 50px 0;
}
.profile-container .photos-block .photos-list.photos-slider .slick-arrow#next{
	right: -35px;
    border-radius: 50px 0 0 50px;
}

.profile-container .photos-block .photos-list .photo.empty-photo div{
	border-radius:5px;
	border:1px solid #2196f3;
	height:100%;
}
.profile-container .photos-block .photos-list .photo.empty-photo i {
    font-size: 30px;
    color: #2196f3;
    margin-top: 50%;
    transform: translate(0, -50%);
}

.profile-container .photos-block .photos-list .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profile-container .profile-data form input,
.profile-container .profile-data form select,
.profile-container .profile-data form textarea{
	width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #2196f3;
    font-size: 16px;
	background: #fff;
}
.profile-container .profile-data .info-item .info-label {
    width: 30%;
}
.profile-container .photos-block .photos-list .photo .delete-photo-btn {
    position: relative;
    bottom: calc(100%);
    float: right;
    right: 2px;
    margin-top: 2px;
    border-radius: 5px;
    padding: 5px 10px 1px;
    background: #00000066;
    border: none;
	color:#2196f3;
}
.profile-container .photos-block .photos-list .photo .set-avatar-btn{
    position: relative;
    bottom: calc(100%);
    float: left;
    left: 2px;
    margin-top: 2px;
    border-radius: 5px;
    padding: 3px 6px 1px;
    background: #00000066;
    border: none;
	color:#ffffff66;
}
.profile-container .photos-block .photos-list .photo .set-avatar-btn.active{
	color:#2196f3;
}
/* end profile */
/* auth */
.register-block {
	background: #f8f8f8;
	border-radius: 10px;
}
.register-block input, .register-block select{
	width: 100%;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #2196f3;
	font-size: 16px;
}
.register-block .btn-bordered {
    border: 2px solid #2196f3;
    font-size: 14px;
    padding: 5px;
	float:right;
}
.register-block input.code-input{
	letter-spacing: 15px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #2196f3;
}

.get-code-feedback{
	clear: both;
    font-size: 14px;
    margin: 15px 0 0;
    color: #2196f3;
}

#loginBtn:disabled {
    background: #2196f36e;
}
/* end auth */

.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.preloader .sk-three-bounce {
	width: 8em;
	margin: auto;
	text-align: center;
}
.preloader .sk-three-bounce .sk-child {
	width: 2em;
	height: 2em;
	background-color: #337ab7;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.preloader .sk-three-bounce .sk-bounce-1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.preloader .sk-three-bounce .sk-bounce-2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
	0%, 80%, 100% {
	-webkit-transform: scale(0);
			transform: scale(0);
	}
	40% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}
}

@keyframes sk-three-bounce {
	0%, 80%, 100% {
	-webkit-transform: scale(0);
			transform: scale(0);
	}
	40% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}
}

/* pages */
.page-content{

}
.page-content .title{
	font-weight:bold;
}
.page-content .text {
    font-size: 14px;
    padding: 0 10px;
}

.page-content .text a, .page-content .text a:focus{
	color:#2196F3;
	text-decoration:none;
}

.page-content .blue-btn{
	color:#fff !important;
}

/* payment */
.payment-container {
}
.payment-container .payment-icon {
    font-size: 50px;
    color: #ffc107;
	font-weight:600;
}
.payment-container .payment-title {
    font-weight: 600;
    font-size: 20px;
}
/* end payment */

.bottom-link{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
    color: #2196f3;
    text-decoration: none;
    font-size: 14px;
}

/* user profile views */
.views-list{
    padding-top: 50px;
}

.views-list .title{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    top: 60px;
	font-weight:600;
}
.views-list .empty-label{
	text-align:center;
	color:#666;
	margin-top:150px;
}
.views-list .empty-label i{
	color:#ccc;
	font-size:50px;
	main-bottom:10px;
}
.views-list .view{
	color: #000;
	text-decoration: none;
}
.views-list .view .user-info{
	font-size: 12px;
}
.views-list .view .user-info .avatar{
	width:65px;
	height: 65px;
	display:inline-block;
}
.views-list .view .user-info .avatar img{
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 10px;
}

.views-list .view .user-info .avatar.deleted-user-avatar i{
	font-size: 30px;
	background: #cadbeb;
	width: 100%;
	height: 100%;
	padding: 18px;
	border-radius: 10px;
	color: #66a2d4;
}
.views-list .view .user-info .summary{
	width:calc(100% - 75px);
	display:inline-block;
}
.views-list .view .user-info .summary .name{
	font-weight:600;
}
.views-list .view .user-info .summary .age{
	font-weight:normal;
}
.views-list .view .user-info .summary .location i{
	color: #FF9800;
}
.views-list .view .text{
	font-size: 13px;
	line-height: 13px;
	margin-top: 5px;
}
/* end user profile views */

/* status */
.status-container {
}
.status-container .status-icon {
    font-size: 50px;
    color: #ffc107;
}
.status-container .status-title {
    font-weight: 600;
    font-size: 20px;
}
.status-container .active-status-label {
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #ffc107;
    display: inline-block;
    margin-bottom: 15px;
    color: #2196f3;
    font-weight: 600;
    letter-spacing: 1px;
}
.status-container .vip-time-label{
	font-size:14px;
}
/* end status */

/* profiles slider */
.gallery-slider.slider{
	width:100%;
}

.gallery-slider.slider .slick-list, .gallery-slider.slider .slick-track{
	height: 100%;
}

.gallery-slider.slider .slick-slide img{
	width:100%;
	height: 100%;
	object-fit: cover;
}
.gallery-slider.slider .slick-arrow{
	position: absolute;
	color: #fff;
	z-index: 1;
	text-shadow: 0px 0px 5px #000;
	font-size: 25px;
	top: 50%;
	transform: translate(0, -50%);
}
.gallery-slider.slider .slick-arrow#prev{
	left: -5px;
}
.gallery-slider.slider .slick-arrow#next{
	right: -5px;
}
/* end slider */

#galleryModal .modal-dialog{
	margin: 0;
	bottom: auto;
	width: 100%;
}

#galleryModal .modal-content{
	background: transparent;
	border: none;
}

#galleryModal .modal-body{
	padding: 0;
}

#galleryModal .close-gallery-modal{
	position: absolute;
  right: 7px;
  background: #e86949;
  border: none;
  top: 7px;
  border-radius: 10px;
  outline: none;
  padding: 5px 15px;
  font-size: 25px;
  color: #fff;
}

.close.rounded-btn{
	margin-top: -30px;
	margin-right: -30px;
	background: #e86949;
	color: #fff;
	opacity: 1;
	padding: 10px 15px;
}
/* end slider */

@media screen and (min-width: 800px) and (orientation: landscape) {
	.header, .page, .footer{
		width: 400px;
		margin-left: 50%;
		transform: translate(-50%, 0);
		background:#fff;
	}

	body, html {
		background: #f5f5f5;
		height: 100%;
	}
	.page {
		overflow: hidden;
		box-shadow: 0px 0px 10px #bbb;
	}
	.content{
	    height: 100%;
		overflow-y: auto;
	}

	.messages-stripe .delete-message-btn {
	    z-index: 2;
	}

	.navbar-expand-lg .navbar-collapse{
		display:none!important;
	}
	.navbar-expand-lg .navbar-toggler{
		display:block;
		position: absolute;
		top:10px;
		right:10px;
	}
	.navbar-collapse.collapse.show{
		display:block!important;
	}
	.navbar-expand-lg .navbar-nav{
		flex-direction: column;
		margin-top: 100px;
	}
	.navbar-light .navbar-brand{
		display: none;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu{
		position: static;
	}
}
