@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueBoldCondensed.eot');
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
        url('fonts/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
        url('fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueBlackCondensed.eot');
    src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed'),
        url('fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
        url('fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
        url('fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Black.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
        url('fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
        url('fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

:root{
	--red-color: #811810;
}

*{
	font-family:  'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 300;
}
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background: #2196f336;
}
*::-webkit-scrollbar-track {
	background: #f5f5f5;
}

body,html{
	margin:0;
}
button, a, textarea, input, select{
    outline: none !important;
    box-shadow: none !important;
}
textarea{
    resize: none;
}
a, a:hover{
	text-decoration: none;
}
button{
	cursor: pointer;
}
a, a:focus{
    text-decoration:none;
}
ul{
	list-style:none;
}

.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wraper{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 35px;
}
hr{
	border-top: 1px solid #000;
}

header{
	position: fixed;
    width: 100%;
    padding: 28px 0 0;
	z-index: 100;
}
footer{
    background: var(--red-color);
    padding: 34px 0;
    color: #FFF;
}
footer .group-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
.footer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #DDDDDD;
}
.copyrights-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.footer-label{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.main-logo{
	margin-top: 5px;
	display: inline-block;
}

.shadow-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.7);
}

.main-menu .main-menu-link{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #DDDDDD;
	width: 25%;
    display: inline-block;
    float: left;
    padding: 15px;
}

.custom-link, .custom-link:hover, .custom-link:focus{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
    display: inline-block;
    display: inline-block;
}
button.custom-link{
    background: none;
    border: none;
}
.custom-link.white-link{
    color: #FFF;
}
.custom-link img{
    filter: invert(1);
    height: 13px;
    transform: rotate(-45deg);
}
.custom-link.white-link img{
    filter: invert(0);
}
.custom-link.footer-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: block;
}

/* forms */
.custom-input {
    border: none;
    border-bottom: 2px solid #C5C5C5;
    padding: 5px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}
.custom-input::placeholder{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #DDDDDD;
}
.custom-input.bordered{
    border: 1px solid #000;
    padding: 13px 14px;
}
.custom-input:not(input[type="checkbox"]){
    width: 100%;
}
.custom-form-text {
    word-spacing: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.custom-form-text.uppercase{
    text-transform: uppercase;
}

.custom-form{

}
.custom-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #9D9D9D;
}

/* popups */
.pop-up{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #FFF;
    z-index: 100;
    display: none;
}
.pop-up.half-width{
    width: 50%;
    left: 50%;
}

.pop-up .pop-up-header{
    border-bottom: 1px solid #000;
    height: 60px;
    padding: 15px 0;
}
.pop-up .pop-up-heading{
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}
.pop-up .pop-up-content{
    height: calc(100vh - 60px);
    align-items: center;
    align-content: center;
    display: flex;
}

.pop-up .close-pop-up-btn{
    background: none;
    border: none;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.pop-up .close-pop-up-btn img {
    filter: invert(1);
    transform: rotate(180deg);
}

/* buttons */
.main-btn{
	font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    padding: 15px 14px;
    min-width: 150px;
	width: 100%;
}
.main-btn .btn-icon{
	float: right;
	transition: .3s ease-in-out;
	transform: rotate(-45deg);
    margin-top: 2px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
}
.main-btn.black-btn{
	color: #FFF;
	background: #000;
	border: 1px solid #000;
}

.main-btn.black-btn .btn-icon, .main-btn.red-btn .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);

}
.main-btn.black-btn.inverted-btn{
	color: #000;
	background: #FFF;
}
.main-btn.black-btn.inverted-btn .btn-icon{
	filter: invert(1);
}

.main-btn.black-btn:hover, .main-btn.black-btn.inverted-btn:hover{
	color: #929292;
}

.main-btn.black-btn:hover .btn-icon, .main-btn.black-btn.inverted-btn:hover .btn-icon{
	opacity: 0.5;
	transform: rotate(0deg);
}

.main-btn.red-btn{
	color: #FFF;
	background: var(--red-color);
	border: 1px solid var(--red-color);
}
.watch-btn.main-btn.red-btn{
	border-color: #FFF;
	width: auto;
}
.main-btn.red-btn.inverted-btn{
	color: var(--red-color) !important;
	background: #FFF !important;
}
.main-btn.red-btn:hover .btn-icon{
	transform: rotate(0deg);
}
.main-btn.red-btn.inverted-btn .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg);
}

.main-btn.red-btn:hover{
	color: var(--red-color);
	background: #FFF;
}
.watch-btn.main-btn.red-btn:hover{
	color: #FFF;
	background: var(--red-color);
}
.main-btn.red-btn.inverted-btn:hover{
	color: #fff !important;
	background: var(--red-color) !important;
}

.main-btn.red-btn:not(.watch-btn):hover .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg);
}

.main-btn.red-btn.inverted-btn:hover .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);
}

.main-btn.black-btn:active{
	color: #000;
	background: #FFF;
}
.main-btn.black-btn:active .btn-icon{
	filter: invert(1);
	opacity: 1;
}
.main-btn.black-btn.inverted-btn:active{
	color: #FFF;
	background: #000;
}
.main-btn.black-btn.inverted-btn:active .btn-icon{
	filter: invert(0) !important;
	opacity: 1 !important;
}

.main-btn.red-btn:active{
	color: #000;
	background: #FFF;
}
.watch-btn.main-btn.red-btn:active{
	color: var(--red-color) !important;
	background: #FFF !important;
	border-color: var(--red-color);
}
.main-btn.red-btn:active .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);
	filter: invert(1);
}
.watch-btn.main-btn.red-btn:active .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg) !important;
	opacity: 1;
	filter: invert(0);
}

.main-btn.red-btn.inverted-btn:active{
	color: #929292 !important;
}
.main-btn.red-btn.inverted-btn:active .btn-icon{
	opacity: 0.5 !important;
	filter: invert(0);
}

/* page screen */
.page-screen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.page-screen.auto-height {
    height: auto;
}
.page-screen .page-screen-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-screen .page-screen-heading{
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-block .centered-block-title{
	font-weight: 500;
	font-size: 28px;
	line-height: 80%;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 0;
}

/* page block */
.page-block {
    position: absolute;
    height: 100%;
    z-index: 1;
    transform: translateY(-100%);
    width: 100%;
}
.page-block-content {
    background: #fff;
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 36px;
    flex-direction: column;
    justify-content: center;
}
.page-block-description {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}

/* form */
.custom-form {
    width: 100%;
}

/* plots */
.plots-screen .plots-block{
    height: 50vh;
    width: 100%;
}
.plots-screen .plots-block .plots-container{
    height: 100%;
}
.plots-screen .plots-block .plots-container .custom-link{
    position: absolute;
    bottom: 0;
}
.plots-screen .plots-title{
    font-weight: 500;
    font-size: 32px;
}
.plots-screen .plots-description{
    font-weight: 400;
    font-size: 24px;
}

.plots-screen .plots-list{
    padding-left: 32px;
}

.plots-screen .plots-list .plot-item .plot-title{
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #9D9D9D;
    border-bottom: 1px solid;
    cursor: pointer;
}
.plots-screen .plots-list .plot-item .plot-title:hover{
    color: var(--red-color);
}
.plots-screen .plots-list .plot-item .plot-description{
    height: 0;
    transition: all .3s ease-in-out;
    overflow: hidden;
    font-weight: 400;
    font-size: 20px;
}
.plots-screen .plots-list .plot-item.opened .plot-title{
    color: var(--red-color);
}
.plots-screen .plots-list .plot-item.opened .plot-description{
    height: auto;
}

/* facilities */
.facility-block{
	background: var(--red-color);
    height: 100vh;
	overflow: hidden;
	cursor: pointer;
}
.facility-bg-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.facility-info{
	padding: 38px 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.facility-heading{
	font-weight: 500;
	font-size: 48px;
	line-height: 48px;
	color: #FFF;
}

.link-icon{
	opacity: 0;
	transition: .3s ease-in-out;
}
.bottom-block{
	position: absolute;
    bottom: 0;
    padding: 0 36px 38px;
    left: 0;
    width: 100%;
	transition: all .3s ease-in-out;
}
.bottom-block .facility-title{
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #FFF;
	margin: 0;
}
.bottom-block .facility-description{
	height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFF;
	margin: 0;
	opacity: 0;
}
.bottom-block.opened .facility-description, .facility-block:hover .bottom-block:not(.opened) .facility-description{
	height: auto;
	opacity: 1;
}
.facility-block:hover .bottom-block .link-icon{
	opacity: 1;
}

/* start invest */
.start-invest-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000;
    margin: 0;
}
.start-invest-heading {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
    color: #000;
}

/* invest block */
.invest-block{

}
.invest-screen .banner-image{
    max-height: calc(100vh - 168px);
}
.invest-block .invest-item{
    border-top: 1px solid #C5C5C5;
    padding-bottom: 30px;
    padding-top: 10px;
}

.invest-block .invest-item .invest-name{
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
}
.invest-block .invest-item .invest-city{
    font-weight: 400;
    text-transform: capitalize;
}
.invest-block .invest-item .invest-description{
    font-weight: 400;
    font-size: 18px;
    color: #1B1B1B;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.invest-block .invest-item.opened{
    border-color: #000000;
}
.invest-block .invest-item.opened .invest-description{
    opacity: 1;
}

/* get in touch */
.get-in-touch-block{
    padding: 60px 0 85px;
    border-top: 1px solid #000;
}

/* properties */
.page-screen.properties-screen .page-screen-heading {
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
}
.property-location-btn {
    font-weight: 500;
    font-size: 32px;
    color: #c5c5c5;
    background: none;
    border: none;
    padding: 0;
    margin: 0 10px;
    transition: .3s ease;
}
.property-location-btn:hover{
    color: #888;
}
.property-location-btn.active {
    color: #000;
}

.properties-list hr{
    border-top: 1px solid #c5c5c5;
}
.property-item {
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.property-item .property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.property-item .property-info {
    position: absolute;
    top: 0;
    padding: 56px 35px 0;
    width: 100%;
    left: 0;
}
.property-item .property-info .property-location {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.property-item .property-info  .property-title {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    line-height: 45px;
}
.property-item .property-info  .link-icon {
    float: right;
    position: absolute;
    top: 35px;
    right: 35px;
    transform: rotate(-45deg);
    opacity: 1;
}
.property-item .property-description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 35px;
    background: #ececec;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
}
.property-item .property-description hr{
    border-top: 1px solid #c5c5c5;
}
.property-item .property-description .custom-link {
    position: absolute;
    bottom: 35px;
}
.property-item:hover .property-description{
    transform: translateX(0);
}
.property-item .property-description .property-heading {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}
.property-item .property-description .property-heading .property-city {
    font-weight: 400;
}
.property-item .property-description .property-desc-item {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.property-item .property-description .property-desc-item .property-desc-label{
    font-weight: 500;
}
.property-item .property-description .property-desc-item.red-desc-item{
    color: #811810;
}
