@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueBoldCondensed.eot');
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeueBoldCondensed'),
        url('fonts/HelveticaNeueBoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('fonts/HelveticaNeueBoldCondensed.woff') format('woff'),
        url('fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueBlackCondensed.eot');
    src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed'),
        url('fonts/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('fonts/HelveticaNeueBlackCondensed.woff') format('woff'),
        url('fonts/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Bold.eot');
    src: local('HelveticaNeueCyr-Bold'),
        url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: local('HelveticaNeueCyr-Light'),
        url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Medium.eot');
    src: local('HelveticaNeueCyr-Medium'),
        url('fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Black.eot');
    src: local('HelveticaNeueCyr-Black'),
        url('fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Black.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Heavy.eot');
    src: local('HelveticaNeueCyr-Heavy'),
        url('fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: local('HelveticaNeueCyr-Roman'),
        url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-UltraLight.eot');
    src: local('HelveticaNeueCyr-UltraLight'),
        url('fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
        url('fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

:root{
	--red-color: #811810;
}

*{
	font-family:  'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 300;
}

body,html{
	margin:0;
    //height: 100vh;
    //overflow: hidden;
}
button, a, textarea, input, select{
    outline: none !important;
    box-shadow: none !important;
}
textarea{
    resize: none;
}
a, a:hover{
	text-decoration: none;
}
button{
	cursor: pointer;
}
a, a:focus{
    text-decoration:none;
}
ul{
	list-style:none;
	padding: 0;
}

.banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wraper{
    width: 100%;
    margin: auto;
    padding: 0 25px !important;
}
hr{
	border-top: 1px solid #000;
}

header{
	position: fixed;
    width: 100%;
    padding: 28px 0 0;
	z-index: 100;
}
header .menu-btn {
    float: right;
    background: none;
    border: none;
    margin-top: 12px;
    padding: 0;
}

.main-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 100;
	transition: all .3s ease-in-out;
    transform: translateX(100%);
}
.main-menu.opened{
	transform: translateX(0);
}
.main-menu .menu-btn{
	text-transform: uppercase;
    color: var(--red-color);
    margin-top: 40px;
    margin-right: 24px;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
}
.main-menu .menu-item {
    margin: 40px 0;
	font-size: 32px;
    display: block;
    text-align: center;
}
.main-menu .menu-item .menu-link {
    font-size: 32px;
    display: block;
    text-align: center;
    color: #000;
}

.main-menu .menu-contact-block {
    background: #000;
    padding: 34px 0;
    text-align: center;
    color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer{
    //background: var(--red-color);
    color: #FFF;
}
footer .group-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
.content-wraper{
    padding: 36px;
}

.footer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #DDDDDD;
}
.copyrights-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.footer-label{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.main-logo{
	margin-top: 5px;
	display: inline-block;
}

.top-padding{
    padding-top: 75px !important;
}

 .gray-bg{
     background: #f5f5f5 !important;
 }
 .white-bg{
     background: #fff !important;
 }
 .red-bg{
     background: #811810;
     color: #fff;
 }
 .white-text{
     color: #fff !important;
     font-weight: inherit;
     font-size: inherit;
 }

 .red-text{
     color: #811810 !important;
     font-weight: inherit;
     font-size: inherit;
 }
 .gray-text{
     color: #9d9d9d;
     font-weight: inherit;
     font-size: inherit;
 }

.shadow-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background: rgba(255, 255, 255, 0.7);
}

.main-menu .main-menu-link{
	font-family: 'HelveticaNeueCyr';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #DDDDDD;
	width: 25%;
    display: inline-block;
    float: left;
    padding: 15px;
}

.custom-link, .custom-link:hover, .custom-link:focus{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
    display: inline-block;
}
button.custom-link{
    background: none;
    border: none;
}
.custom-link.white-link{
    color: #FFF;
}
.custom-link img{
    filter: invert(1);
    height: 13px;
    transform: rotate(-45deg);
}
.custom-link.white-link img{
    filter: invert(0);
}
.custom-link.footer-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: block;
}

.custom-list {
    padding-left: 0;
}

.custom-list li{
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
}
.custom-list li .list-icon{
    position: absolute;
    width: 10px;
    height: 10px;
    filter: invert(1);
    transform: rotate(-45deg);
    margin-left: -15px;
    margin-top: 5px;
}

.company-name {
    width: 100%;
}

/* forms */
.form-container{
}
.form-heading{
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    padding: 150px 35px 24px;
}
.form-heading.black-heading{
    background: #000;
    color: #fff;
}
.form-content{
    background: #fff;
    padding: 42px 35px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid #C5C5C5;
    padding: 5px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}
.custom-input::placeholder{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #DDDDDD;
}
.custom-input.bordered{
    border: 1px solid #000;
    padding: 14px 14px;
}
.custom-input:not(input[type="checkbox"]){
    width: 100%;
}
.custom-form-text {
    word-spacing: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.custom-form-text.uppercase{
    text-transform: uppercase;
}

.custom-form{

}
.custom-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #9D9D9D;
}

/* popups */
.pop-up{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: #FFF;
    z-index: 100;
    display: none;
    overflow: auto;
}
.pop-up-content {
    height: calc(100vh - 60px);
    height: calc(var(--vh, 1vh) * 100 - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}
.pop-up.half-width{
    width: 50%;
    left: 50%;
}

.pop-up .pop-up-header{
    height: 60px;
    padding: 15px 0;
}
.pop-up .pop-up-heading{
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #000000;
}

.pop-up .close-pop-up-btn{
	background: none;
	border: none;
	float: right;
	width: 30px;
	height: 30px;
    position: absolute;
    right: 30px;
}
.pop-up .close-pop-up-btn img {
    width: 100%;
}

/* buttons */
.main-btn{
	font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    padding: 15px 14px;
    min-width: 150px;
	width: 100%;
}
.main-btn .btn-icon{
	float: right;
	transition: .3s ease-in-out;
	transform: rotate(-45deg);
    margin-top: 2px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
    margin-left: 10px;
}
.main-btn.black-btn{
	color: #FFF;
	background: #000;
	border: 1px solid #000;
}

.main-btn.black-btn .btn-icon, .main-btn.red-btn .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);

}
.main-btn.black-btn.inverted-btn{
	color: #000;
	background: #FFF;
    display: inline-block;
    width: auto;
}
.main-btn.black-btn.inverted-btn .btn-icon{
	filter: invert(1);
}

.main-btn.black-btn:hover, .main-btn.black-btn.inverted-btn:hover{
	color: #929292;
}

.main-btn.black-btn:hover .btn-icon, .main-btn.black-btn.inverted-btn:hover .btn-icon{
	opacity: 0.5;
	transform: rotate(0deg);
}

.main-btn.red-btn{
	color: #FFF;
	background: var(--red-color);
	border: 1px solid var(--red-color);
}
.watch-btn.main-btn.red-btn{
	border-color: #FFF;
	width: auto;
}
.main-btn.red-btn.inverted-btn{
	color: var(--red-color) !important;
	background: #FFF !important;
}
.main-btn.red-btn:hover .btn-icon{
	transform: rotate(0deg);
}
.main-btn.red-btn.inverted-btn .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg);
}

.main-btn.red-btn:hover{
	color: var(--red-color);
	background: #FFF;
}
.watch-btn.main-btn.red-btn:hover{
	color: #FFF;
	background: var(--red-color);
}
.main-btn.red-btn.inverted-btn:hover{
	color: #fff !important;
	background: var(--red-color) !important;
}

.main-btn.red-btn:not(.watch-btn):hover .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg);
}

.main-btn.red-btn.inverted-btn:hover .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);
}

.main-btn.black-btn:active{
	color: #000;
	background: #FFF;
}
.main-btn.black-btn:active .btn-icon{
	filter: invert(1);
	opacity: 1;
}
.main-btn.black-btn.inverted-btn:active{
	color: #FFF;
	background: #000;
}
.main-btn.black-btn.inverted-btn:active .btn-icon{
	filter: invert(0) !important;
	opacity: 1 !important;
}

.main-btn.red-btn:active{
	color: #000;
	background: #FFF;
}
.watch-btn.main-btn.red-btn:active{
	color: var(--red-color) !important;
	background: #FFF !important;
	border-color: var(--red-color);
}
.main-btn.red-btn:active .btn-icon{
	background-image: url(../images/ic_arrow_right_white.svg);
	filter: invert(1);
}
.watch-btn.main-btn.red-btn:active .btn-icon{
	background-image: url(../images/ic_arrow_right_red.svg) !important;
	opacity: 1;
	filter: invert(0);
}

.main-btn.red-btn.inverted-btn:active{
	color: #929292 !important;
}
.main-btn.red-btn.inverted-btn:active .btn-icon{
	opacity: 0.5 !important;
	filter: invert(0);
}

/* page screen */
.page-screen {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    //position: absolute;
    //top: 0;
    //opacity: 0;
    //z-index: -1;
}
.page-screen.active-screen{
    //opacity: 1;
    //z-index: 1;
}

.page-screen.auto-height {
    height: auto;
    //position: relative;
    //overflow-y: scroll;
}

.animated-block{
    transition: all .4s ease-in-out;
    min-height: 100%;
}
.animated-block.resized-block{
    transform: scale(0);
}
.page-screen.active-screen.opened .animated-block.resized-block{
    transform: scale(1);
}
.animated-block.slide-from-bottom{
    transform: translateY(100%);
}
.page-screen.active-screen.opened .animated-block.slide-from-bottom{
    transform: translateY(0);
}
.animated-block.slide-from-top{
    transform: translateY(-100%);
}
.page-screen.active-screen.opened .animated-block.slide-from-top{
    transform: translateY(0);
}
.animated-block .page-screen-bg-image{
    transform: scale(0);
    transform-origin: center;
    transition: .7s ease;
}
.page-screen.active-screen.opened .animated-block .page-screen-bg-image{
    transform: scale(1);
}

.page-screen .page-screen-bg-image {
    width: 100%;
    height: 100vw;
    object-fit: cover;
}
.page-screen .page-screen-heading{
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}
.with-border{
    border-bottom: 1px solid;
    display: inline-block;
}
.page-screen .page-screen-heading.with-border{
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 25px;
    font-size: 36px;
}

.page-screen.red-screen{
    background: #811810;
    color: #fff;
}

.fixed-block{
	width: 100%;
    position: absolute;
    top: 50%;
}
.fixed-block.centered-block {
    left: 50%;
    transform: translate(-50%, -50%);
}
.fixed-block .fixed-block-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 0;
}
.fixed-block.left-block {
    width: calc(100% - 50px);
    top: 50px;
}
.fixed-block.left-block .fixed-block-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000;
    text-align: left;
}
.fixed-block .fixed-block-description{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.fixed-block.right-block {
    transform: translateY(-50%);
    width: 50%;
    max-width: 720px;
    left: 50%;
}
.fixed-block.right-block .fixed-block-title{
    font-weight: 700;
	font-size: 96px;
	line-height: 117px;
    color: #fff;
    text-align: left;
    margin: 0;
}

/* page block */
.page-block {
    position: absolute;
    height: 100%;
    z-index: 1;
    //transform: translateY(-100%);
    width: 100%;
}
.page-block-content {
    //background: #fff;
    //height: 100vh;
    //height: calc(var(--vh, 1vh) * 100);
    align-items: center;
    display: flex;
    padding: 36px;
    flex-direction: column;
    justify-content: center;
}
.page-block-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}
.page-block-description.font-normal{
    text-transform: none;
}
.page-block-description.light-weight{
    font-weight: 400;
}

/* form */
.custom-form {
    width: 100%;
}

/* carousel */
.carousel{
    height: 100%;
}
.carousel-image {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-size: cover;
    background-position: center;
}
.carousel-arrow {
	padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    width: 32px;
    height: auto;
}
.carousel-arrow img{
    width: 100%;
    filter: drop-shadow(1px 2px 2px black);
}

.carousel-arrow.btn-prev img{
    transform: scaleX(-1);
}
.carousel-arrow.slick-disabled img {
    filter: contrast(0.5) drop-shadow(1px 2px 2px black);
}

.carousel-slide-text, .carousel-slide-text:hover, .carousel-slide-text:focus, .carousel-slide-text:active{
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	margin: 0;
	margin-left: calc(50vw - 25px);
	transform: translateX(-50%);
}

/* plots */
.plots-screen .plots-block{
    width: 100%;
}
.plots-screen .banner-image{
    height: 125vw;
}
.plots-screen .plots-block .plots-container{
    height: 100%;
}
.plots-screen .plots-block .plots-container .custom-link{
    position: absolute;
    bottom: 0;
}
.plots-screen .plots-title{
	font-weight: 500;
    font-size: 48px;
    position: absolute;
    left: 25px;
    margin-top: 15px;
    z-index: 1;
}
.banners-block{
    height: 50vh;
    overflow: hidden;
}
.plots-screen .banner-image{
    display: none;
    height: 100%;
}
.plots-screen .banner-image.active-banner{
    display: block;
}

.plots-screen .plots-list{
    padding: 58px 0 32px;
}

.plots-screen .plots-list .plot-item .plot-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    text-transform: uppercase;
    color: #9D9D9D;
    border-bottom: 1px solid;
    cursor: pointer;
    margin-top: 10px;
}
.plots-screen .plots-list .plot-item .plot-title img {
    filter: grayscale(1) opacity(0.5);
}
.plots-screen .plots-list .plot-item.opened .plot-title img{
    filter: unset;
}
.plots-screen .plots-list .plot-item .plot-title:hover{
    color: var(--red-color);
}
.plots-screen .plots-list .plot-item .plot-description{
    height: 0;
    transition: all .3s ease-in-out;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
}
.plots-screen .plots-list .plot-item.opened .plot-title{
    color: var(--red-color);
}
.plots-screen .plots-list .plot-item.opened .plot-description{
    height: auto;
}

/* facilities */
.facility-block{
	background: var(--red-color);
    height: 50vh;
	overflow: hidden;
	cursor: pointer;
    position: relative;
}
.facility-block.auto-height{
	height: auto;
	min-height: 125vw;
}
.facility-bg-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.facility-info{
	padding: 38px 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.facility-heading{
	font-weight: 500;
	font-size: 48px;
	line-height: 48px;
	color: #FFF;
}

.link-icon{
	opacity: 0;
	transition: .3s ease-in-out;
}
.bottom-block{
	position: absolute;
    bottom: 0;
    padding: 0 10px 35px;
    left: 0;
    width: 100%;
	transition: all .3s ease-in-out;
}
.bottom-block .facility-title{
	font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFF;
    margin: 0;
}
.bottom-block .facility-description{
	height: 0;
	overflow: hidden;
	transition: all .3s ease-in-out;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFF;
	margin: 0;
	opacity: 0;
}
.bottom-block.opened .facility-description, .facility-block:hover .bottom-block:not(.opened) .facility-description{
	height: auto;
	opacity: 1;
}
.facility-block:hover .bottom-block .link-icon{
	opacity: 1;
}

/* start invest */
.start-invest-title {
	font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000;
    margin: 0;
}
.start-invest-heading {
	font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000;
}

/* invest block */
.invest-block{

}
.invest-screen .banner-image{
    max-height: 75vw;
    display: none;
    transition: .3s ease;
}
.invest-screen .banner-image.active-banner{
    display: block;
}
.invest-screen .page-screen-heading{
	font-size: 36px;
}
.invest-block .invest-item{
    border-top: 1px solid #C5C5C5;
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.invest-block .invest-item .invest-name{
	font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.invest-block .invest-item .invest-city{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 20px;
}
.invest-block .invest-item .invest-description{
    font-weight: 400;
    font-size: 18px;
    color: #1B1B1B;
    transition: all .3s ease-in-out;
    padding-bottom: 30px;
}
.invest-block .invest-item.opened{
    border-color: #000000;
}

.invest-block .custom-link {
    position: absolute;
    bottom: 20px;
}

/* get in touch */
.get-in-touch-block{
    padding: 0 0 70px;
}

.meet-company-screen .page-screen-bg-image{
    height: calc(100vh - 220px);
    height: calc(var(--vh, 1vh) * 100 - 220px);
}

/* properties */
.page-screen.properties-screen .page-screen-heading {
    font-size: 50px;
    line-height: 78px;
    text-align: center;
}
.property-location-btn {
	font-weight: 400;
    font-size: 18px;
    color: #c5c5c5;
    background: none;
    border: none;
    padding: 0;
    margin: 0px 8px;
    transition: .3s ease;
}

.property-location-btn.active {
    color: #000;
}

.properties-list hr{
    border-top: 1px solid #c5c5c5;
}
.property-item {
    height: 60vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.property-item .property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.property-item .property-info {
    position: absolute;
    top: 0;
    padding: 16px 15px 0;
    width: 100%;
    left: 0;
}
.property-item .property-info .property-location {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
}
.property-item .property-info  .property-title {
    font-size: 24px;
    color: #fff;
    line-height: 24px;
}
.property-item .property-info  .link-icon {
    float: right;
    position: absolute;
    top: 35px;
    right: 35px;
    transform: rotate(-45deg);
    opacity: 1;
}
.property-item .property-description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 10px 0;
    background: #fff;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
}
.property-item .property-description hr{
    border-top: 1px solid #c5c5c5;
}

.property-item:hover .property-description{
    transform: translateX(0);
}
.property-item .property-description .property-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}
.property-item .property-description .property-heading .property-city {
    font-weight: 400;
}
.property-item .property-description .property-desc-item {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 100%;
}
.property-item .property-description .property-desc-item .property-desc-label{
    font-weight: 400;
    font-size: 12px;
    color: #c5c5c5;
    border-bottom: 1px solid;
    display: block;
    margin-bottom: 5px;
}
.property-item .property-description .property-desc-item.red-desc-item{
    color: #811810;
}
.property-item .property-description .property-desc-item.last-desc-item{
    border-bottom: 1px solid #c5c5c5;
    bottom: 20px;
    width: 100%;
    left: 0;
}

.directions-screen .page-screen-heading{
	font-size: 58px;
	line-height: 70px;
	font-weight: 700;
}
.directions-screen .page-block-description{
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
}
.property-item .property-description .custom-link {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
}

.property-item .property-description .custom-link img {
    height: 10px;
}

/* focus sceen */
.page-screen.focus-screen{
    padding: 0;
}
.focus-heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
}
.stats-block {
    margin-top: 60px;
}
.stat-item {
    border-top: 1px solid #000;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 100%;
}

.stat-counter {
    font-size: 45px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
}

/* invest options & financial advantages */
.invest-options-screen .page-screen-heading, .financial-advantages-screen .page-screen-heading{
    font-size: 30px;
    line-height: 35px;
    text-align: left;
}
.invest-options-screen .page-screen-bg-image, .financial-advantages-screen .page-screen-bg-image{
    height: 65vw;
}

/* our clients say */
.our-clients-say-screen .page-screen-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #fff;
}

.testimonial-text {
    font-size: 18px;
}
.testimonial-author {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}
.carousel.testimonials-carousel{
    height: calc(100vh - 350px);
}
.carousel.testimonials-carousel .carousel-arrow.slick-disabled {
    display: none !important;
}
.carousel.testimonials-carousel .carousel-arrow{
    //bottom: -30px;
}
.carousel.testimonials-carousel .carousel-arrow.btn-next {
    right: calc(50% - 45px) !important;
}
.carousel.testimonials-carousel .carousel-arrow.btn-prev {
    left: calc(50% - 45px) !important;
}
.carousel.testimonials-carousel .carousel-arrow img{
    filter: unset;
}

/* start invest */
.start-invest-screen .main-btn{
    position: absolute;
    bottom: 38px;
}

/* blog articles */
.blog-articles-screen .page-screen-heading{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}
.blog-aticle {
    border-top: 1px solid #000;
    padding-top: 24px;
    cursor: pointer;
}
.blog-aticle .blog-article-heading, .blog-aticle .blog-article-heading a{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: #000;
    width: calc(100% - 25px);
}

.blog-aticle .blog-article-heading .arrow-icon{
    transform: rotate(-45deg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/ic_arrow_right.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-left: 10px;
    filter: invert(1) opacity(0.3);
    position: absolute;
    margin-top: 5px;
    right: 20px;
}

.blog-aticle .blog-article-description {
    font-size: 20px;
    color: #9d9d9d;
    line-height: 24px;
    margin-top: 18px;
}
.blog-aticle .blog-article-date {
    font-weight: 500;
    font-size: 14px;
    color: #9d9d9d;
    opacity: 0;
    transition: all .3s ease;
    margin-top: 18px;
    display: block;
    text-align: right;
}
.blog-aticle:hover .blog-article-heading{
    text-decoration: underline;
}
.blog-aticle:hover .blog-article-heading .arrow-icon{
    filter: invert(1) opacity(1);
}
.blog-aticle:hover .blog-article-date{
    opacity: 1;
}

/* blog article */
.article-screen .page-screen-heading.with-border {
    font-size: 48px;
}

.article-screen .page-screen-heading.article-title{
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    margin-top: 175px;
    border-bottom: 1px solid;
    padding-bottom: 24px;
    margin-bottom: 40px;
}
.why-screen{
    padding-top: 0;
}
.why-item {
    border-top: 1px solid #000;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 16px;
}
.why-item .why-item-heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
}

.why-item .why-item-description {
    font-size: 20px;
    color: #9d9d9d;
    line-height: 24px;
    margin-top: 4px;
}

.start-investing-screen .page-screen-heading{
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
}

.start-investing-screen .fixed-block.left-block {
    top: unset;
    transform: translateY(-100%);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.start-investing-screen .fixed-block-title {
    font-size: 48px !important;
    line-height: 64px !important;
    margin: 0;
}

.page-screen.start-investing-screen .page-screen-bg-image {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* property */
.property-screen .fixed-block-title {
    font-size: 48px !important;
    line-height: 58px !important;
}
.property-screen .page-screen-bg-image{
    filter: brightness(0.9);
}
.property-label {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    display: block;
    line-height: 30px;
    width: 75%;
    font-style: italic;
    text-shadow: 0px 0px 10px #000;
}

.property-screen .main-btn{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.pluses-screen{
    padding-top: 0;
}
.pluses-screen .page-screen-heading{
    font-size: 36px;
    line-height: 43px;
}

.plus-item {
    border-top: 1px solid #000;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 16px;
}
.plus-item .plus-item-heading{
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
}

.plus-item .plus-item-description {
    font-size: 20px;
    color: #9d9d9d;
    line-height: 24px;
    margin-top: 4px;
}

/* features */
.features-screen .page-screen-heading{
    font-size: 34px;
    line-height: 110%;
    color: #fff;
    font-weight: 400;
}

.features-screen .page-block-description{
    font-size: 20px;
}

.features-screen .feature-slide .page-screen-heading{
    font-size: 32px;
    color: #000;
    line-height: 39px;
}
.features-screen .feature-slide.gray-bg{
    background: #DDDDDD !important;
}

.page-block-content.top-content {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

/* personal consultation */
.personal-consultation-screen .page-screen-heading{
    font-size: 32px;
    line-height: 39px;
}

/* cookies panel */
.cookies-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    transform: translateY(100%);
}

.cookies-panel.opened{
    transform: translateY(0);
}

.cookies-panel .cookies-content{
    background: #fff;
    box-shadow: 0px 0px 14px #00000066;
    padding: 32px 35px 50px 50px;
}
.close-cookies-btn {
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0;
    line-height: 10px;
    border: none;
    background: none;
}
.cookies-panel .cookies-message{
    font-size: 16px;
}
.cookies-panel .cookies-message .custom-link{
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}
.cookies-panel .accept-cookies-btn{
    width: auto;
    text-transform: capitalize;
    min-width: auto;
    padding: 5px 30px;
    float: right;
}

.country-carousel .carousel-arrow {
    bottom: 100px;
}
.country-carousel .carousel-arrow.btn-prev {
    left: 50%;
    transform: translateX(-100%);
    margin-left: -15px;
}
.country-carousel .carousel-arrow.btn-next {
    right: 50%;
    transform: translateX(100%);
    margin-right: -15px;
}

.article-subtitle{
    font-size: 38px !important;
    line-height: 100% !important;
}
.page-screen.article-screen-content .page-screen-bg-image{
    height: 100vw;
}

.page-screen.article-screen-content .page-screen-heading{
    font-size: 38px !important;
    line-height: 100% !important;
}
.page-screen-bg-image.full-height {
    height: 100vh !important;
    height: calc(var(--vh, 1vh) * 100) !important;
}

.article-subtitle.white-text, .article-subtitle.white-text .gray-text{
    color: #FFF !important;
}

.direction-screen .page-screen-bg-image{
    filter: brightness(0.9);
}
.direction-label {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
    display: block;
    line-height: 30px;
    width: 75%;
    font-style: italic;
    text-shadow: 0px 0px 10px #000;
}

.direction-screen .main-btn{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
